body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  margin-left: 40px;
}

a {
  text-decoration: none;
} 

#supportHero{
  background-color:#4CC9FE;
  color: white;
  


}

#supportHero a{
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content:space-between;
  margin-left: 100px;
  margin-right: 130px;


}

#supportHero input{
  padding:12px 35px ;
  width: 100%;
}

#supportPEN{
  margin-left: 100px;
  row-gap: 10px;
}

